.header {
  width: 100%;
  height: 90px;
  background-color: #8B5E3C
}

.header-container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.header-text {
  color: white;

}