.img-modal {
  display: block;
  object-fit: cover;
}

.img-default img {
  width: 80%;
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.img-not-default img {
 width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;

      border-radius: 3px;

}


.img-footer img{

  width: 150px;
  height: 50px;

   display: block;   
  height: auto;

  border-radius: 15px;

 
}







