.card {
    display: flex;
    width: 1300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;

    gap: 30px;

    justify-content: center;
}

.products-title {
    font-size: 2.8rem;
  font-weight: 700;
  color: #4b2e1e;
  margin-bottom: 20px;
}

.card-inner {
    width: 500px;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 225px;
    height: 200px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-front {
    background: white;
    border: 1px solid #e5e7eb;
}

.card-back {
    background-color: #8B5E3C;
    color: white;
    transform: rotateY(180deg);
}


.img-size {
    width: 225px;
    height: 200px;
    border-radius: 15px;
}