.card {
    display: flex;
    width: 100%;

    width: 1300px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;

    gap: 30px;

    justify-content: center;
    align-items: center;
}

.products-title {
    position: relative;
    font-size: 2.8rem;
    font-weight: 700;
    color: #4b2e1e;
    margin-bottom: 20px;
}

.card-inner {
    width: 225px;
    height: 200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.card-front {
    background: white;
    border: 1px solid #e5e7eb;
    max-width: 100%;
    max-height: 100%;
}

.card-back {
     width: 225px;
    height: 200px;
    background-color: #8B5E3C;
    color: white;
    transform: rotateY(180deg);
  
}


.img-size {
    width: 225px;
    height: 200px;
    border-radius: 15px;
}

.card-item-name {

}

.card-iem-price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 70px;
    padding: 5px;
    border-radius: 15px;
    background-color: #4b2e1e;
}

.p-title {
    color: #8B5E3C;
}