.container {}


.container :hover {}


.card-container {
    background-color: #8B5E3C;
    margin-bottom: 15px;

    max-width: 650px;
    min-width: 600px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 15px;
    gap: 32px;
    padding: 32px;

}


.card-info {
    display: flex;
    flex-direction: column;


    max-width: 300px;
    max-height: 250px;
    justify-content: center;
    align-items: center;

}

.image-container:hover {
    transform: translateY(-6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card-title {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    padding-top: 25%;


}

.card-title-container {
    margin-bottom: 20%;

}

.card-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}


.card-text {
    max-width: 300px;


    font-size: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.6;


}

.image-container {
    width:60%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;


}


.image-container:hover .image-import {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.image-import:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}