.container {

}


.container :hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(39, 13, 13, 0.15);

}


.card-container {
    background-color:#8B5E3C
;
    margin-bottom: 15px;

    max-width: 650px;
    min-width: 600px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 15px;
    gap: 32px;
    padding: 32px;



}


.card-info {
    display: flex;
        flex-direction: column;

    
    max-width: 300px;
    max-height: 250px;
    justify-content: center;
    align-items: center;

         pointer-events: none;

    
    
}


.card-title {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    padding-top: 25%;


}

.card-title-container {
    margin-bottom: 20%;

}


.card-text {
    max-width: 300px;
    font-size: small;
    align-content: center;


}

.image-container {
    width: 35%;
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
         pointer-events: none;


}


